
.menu{
    width: 250px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0 auto;

 }



.item {   
    display: flex;
    align-items: center;
    margin: 1px;
    list-style-type: none;
    font-style:normal;
    position: relative;
    background-color: rgb(161, 161, 161);
    
}

.menu .item a{
    color: #fff; 
    padding:16px;
    text-decoration: none;
    display: flex;
}

.item:hover{
    background-color: rgb(0, 173, 253);
}
.item a:hover{
    color: rgb(163, 163, 163);
}
